(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: Url("https://file%2B.vscode-resource.vscode-cdn.net/Users/malav/Documents/fpga_accel/fpga_files/waves/tb_pipe.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "tb_pipe_top",
                "uut",
                "argmax",
            ],
            id: Wellen((41)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb_pipe_top",
                            "uut",
                            "argmax",
                        ],
                        id: Wellen((41)),
                    ),
                    name: "index_of_max",
                    id: Wellen((233)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "index_of_max [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb_pipe_top",
                            "uut",
                            "argmax",
                        ],
                        id: Wellen((41)),
                    ),
                    name: "max_value",
                    id: Wellen((235)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "max_value [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb_pipe_top",
                            "uut",
                            "argmax",
                        ],
                        id: Wellen((41)),
                    ),
                    name: "i",
                    id: Wellen((236)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "tb_pipe_top",
                            "uut",
                            "argmax",
                        ],
                        id: Wellen((41)),
                    ),
                    name: "max_idx",
                    id: Wellen((234)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "max_idx [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 4,
        viewports: [
            (
                curr_left: (-0.11999999999999966),
                curr_right: (1.2799999999999998),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [
            (
                name: "Ungrouped",
                cycle_counter: 0,
                annotations: [],
            ),
        ],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
    enable_time_offset: None,
)